{% extends "base.html" %}
{% block container %}
<main class="container mt-3">
    <!-- HERO -->
    <section class="jumbotron text-center mt-4;" style="background-image: url('/static/images/background.png');
    background-position: center center; background-size: cover;">
        <h1 class="display-4;" style="font-size: 70px;"><b>Горячие туры</b></h1>
        <p class="lead;"><b>{{ subtitle }}</b></p>
        <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
        {% for i in range (6) %}
        <div class="col-4">
            <div class="card mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="card-img-top embed-responsive-item" src={{tours[random[i]]["picture"]}} alt=""/>
                </div>
                <div class="card-body">
                    <h2 class="h5 card-title">{{ tours[random[i]]["country"] }}: {{ tours[random[i]]["title"] }}
                        {{ tours[random[i]]["stars"] }}&#9733;</h2>
                    <p class="card-text;">{{ tours[random[i]]["description"]|truncate(75) }}</p>
                    <h2 class="h5 card-title" style="font-size: 18px">{{ tours[random[i]]["date"] }},
                        {{ tours[random[i]]["nights"] }} ночей, {{ tours[random[i]]["price"] }} Р</h2>
                    <a href="/tours/{{ tours[random[0]]['title'].split(' ')[0] }}" class="btn btn-sm btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}