{% extends "base.html" %}
{% block container %}
<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4"><b>{{ tours["title"] }} {{ tours["stars"] }}&#9733;</b></h1>
        <!-- HERO -->
        <p><a href="/departure/{{ city }}">Назад</a></p>
        <p class="lead"><b>{{ tours["country"] }} {{ departures[tours["departure"]] }} {{ tours["nights"] }} ночей</b></p>
        <img src="{{ tours['picture'] }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ tours["description"] }}</p>
        <a href="https://www.instagram.com/_kukulidik_/" class="btn btn-success btn-lg">Купить тур за {{ tours["price"]
            }}</a>
    </section>
</main>
{% endblock %}